@import "components/variables";
* {
    font-family: "Raleway", sans-serif;
}


/*General*/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

h1,
h2 {
    margin: 0.5em 0;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 60px;
    @media only screen and (max-width: $sm) {
        font-size: $text-lg;
    }
}

p {
    margin: 0.5em 0;
    font-size: 28px;
    font-weight: 700;
    @media only screen and (max-width: $sm) {
        font-size: $text-xs;
    }
}

li {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    &:before {
        content: "-";
        margin-right: 0.75em;
    }
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: $sm) {
        max-width: 540px;
        padding-right: 0rem;
        padding-left: 0rem;
    }
    @media (min-width: $sm) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }
    @media (min-width: $xl) {
        max-width: 1320px;
    }
}

.text-purple,
.text-primary {
    color: $color-primary;
}

.text-secundary {
    color: $color-secundary;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}


/* Components*/

@import "components/banner";
@import "components/components";
@import "components/titles";
@import "components/navbar";
@import "components/footer";

/* Pages*/

@import "components/table";
@import "pages/index";
@import "pages/envolturas";
@import "pages/cajas";
@import "pages/registro";
@import "pages/finalizar-compra";
@import "pages/carrito";
.text-sm {
    font-size: $text-sm;
}