main.cajas {
    display: flex;
    flex-wrap: wrap;
    .sidebar {
        padding: 2.5em;
        flex: 1;
        background-color: #80cdd6;
        display: flex;
        flex-direction: column;
        .title {
            color: white;
            font-size: 32px;
            .image {
                margin-right: 1em;
                img {
                    width: 100%;
                }
            }
        }
        @media only screen and (max-width: $md) {
            order: 1;
        }
    }
    .boxes-grid {
        height: 100%;
        flex: 4;
        padding: 0 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2em;
        row-gap: 5em;
        .box-product {
            padding: 0 4em;
            display: flex;
            flex-direction: column;
            .image {
                img {
                    width: 100%;
                }
            }
            .box-description {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                p {
                    margin: 0;
                }
            }
            a {
                align-self: center;
            }
        }
    }
}

.paper-description {
    margin: 1.5em 0;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
}

@media only screen and (max-width: $md) {
    main.cajas {
        display: flex;
        flex-wrap: wrap;
        .sidebar {
            padding: 2.5em;
            flex: 1;
            background-color: #80cdd6;
            display: flex;
            flex-direction: column;
            .title {
                color: white;
                font-size: 32px;
                .image {
                    margin-right: 1em;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .boxes-grid {
            height: 100%;
            padding: 0;
            margin-bottom: 3em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            column-gap: 2em;
            row-gap: 5em;
            .box-product {
                padding: 0 4em;
                display: flex;
                flex-direction: column;
                .image {
                    img {
                        width: 100%;
                    }
                }
                .box-description {
                    margin-top: 1em;
                    display: flex;
                    justify-content: space-between;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
    .paper-description {
        margin: 1.5em 0;
        font-style: italic;
        font-weight: 600;
        font-size: 24px;
    }
}

button.add-to-cart.size {
    width: 48px;
    height: 48px;
    left: 80px;
    font-size: 0;
    margin-right: 0;
    letter-spacing: 0;
    transition: 0.2s;
}

button.add-to-cart.hover {
    transition: 0.2s;
    transform: scale(0.2) rotate(180deg);
    transform-origin: 88px 24px;
}

a.cart {
    width: 62px;
    height: 62px;
    margin-left: 0;
    border-radius: 36px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: none;
    position: relative;
    background: $color-primary url(http://images.vfl.ru/ii/1484930184/14435803/15757225.png) center no-repeat;
    background-size: 36px;
    box-shadow: 0 3px 6px grey, 0 3px 6px gainsboro;
}