main.carrito {
    margin-bottom: 5em;
    .container {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: $sm) {
            padding: 0;
            flex-direction: column;
        }
    }
}

div.carrito {
    &:first-child {
        flex: 3;
    }
    &:last-child {
        margin-top: 2.5em;
        flex: 1;
    }
    margin: 0 2.5em;
    @media only screen and (max-width: $sm) {
        margin: 0.25em;
    }
    .carrito-title {
        display: flex;
        padding: 2.5em 0;
        @media only screen and (max-width: $sm) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        img {
            width: 50px;
            margin-right: 1em;
            @media only screen and (max-width: $sm) {
                margin: auto;
            }
        }
        a {
            margin-left: auto;
            margin-right: 1em;
            @media only screen and (max-width: $sm) {
                margin: auto;
            }
        }
    }
}

.btnCarrito {
    display: flex;
    justify-content: flex-end;
}

.btn-sm-secundary {
    max-width: 170px;
}

.fit-content {
    height: fit-content;
}

@media only screen and (max-width: $sm) {
    .summary {
        margin: 0 auto;
        max-width: 200px;
    }
}