section.envolturas-grid {
    display: flex;
    flex-wrap: wrap;
    .envoluturas-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        .envolturas-product {
            * {
                margin: .5em auto;
            }
            width: 100%;
            padding: 2em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            .image {
                padding: 2em;
                img {
                    width: 100%;
                }
            }
            .description {
                text-align: center;
                width: 60%;
                color: $color-primary;
            }
        }
    }
}

@media only screen and (max-width: $sm) {
    section.envolturas-grid {
        display: flex;
        flex-wrap: wrap;
        .envoluturas-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1;
            .envolturas-product {
                * {
                    margin: .5em auto;
                }
                width: 100%;
                padding: 2em 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 1;
                .image {
                    padding: 2em;
                    img {
                        width: 100%;
                    }
                }
                .description {
                    text-align: center;
                    width: 60%;
                    color: $color-primary;
                }
            }
        }
    }
}