main.finalizar {
    margin-bottom: 2.5em;
}

.form-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 0;
    @media only screen and (max-width: $sm) {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 0em;
    }
}

.form-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 0;
    @media only screen and (max-width: $sm) {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 0em;
        row-gap: 0em;
        input[type="text"] {
            &:first-child {
                grid-column: 1;
            }
        }
        label {
            margin: 1em 0;
        }
    }
}

.form-3 {
    display: flex;
    flex-direction: column;
    div {
        &:first-child {
            display: flex;
        }
        &:last-child {
            margin-top: 1em;
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
    @media only screen and (max-width: $md) {
        align-items: flex-start;
        div {
            &:first-child {
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                margin-top: 1em;
                width: 100%;
            }
        }
    }
}

.btn-md-secundary {
    max-width: 300px;
}