@import "../components/variables";
.section-index-1 {
    height: 80vh;
    padding: 5em;
    color: white;
    background-image: url("../img/02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    .text {
        width: 60%;
    }
    .btn-xl-primary {
        visibility: visible;
        @media only screen and (max-width: $sm) {
            visibility: hidden;
        }
    }
    .btn-md-primary {
        visibility: hidden;
        @media only screen and (max-width: $sm) {
            visibility: visible;
        }
    }
}

.section-index-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .card {
        flex: 50%;
        .card-header {
            font-weight: 800;
            letter-spacing: 5px;
            font-size: 60px;
            background-color: rgba(white, 0.75);
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: $sm) {
                font-size: 45px;
                font-weight: 600;
            }
        }
        .card-main {
            height: 55vh;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                width: 30%;
            }
            p {
                font-size: 2.5em;
                @media only screen and (max-width: $sm) {
                    font-size: 1.5em;
                }
                position: absolute;
                bottom: 0;
            }
        }
        &:first-child {
            background-color: $color-violet;
            color: $color-violet;
        }
        &:nth-child(2) {
            background-color: $color-blue;
            color: $color-blue;
        }
    }
}

section.section-index-3 {
    height: 80vh;
    padding: 5em;
    padding-left: 8em;
    background-image: url("../img/548451-PJZCNJ-311.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: $color-primary;
    justify-content: start;
    align-items: center;
    @media only screen and (max-width: $sm) {
        padding: 5em;
    }
    .text {
        width: 40%;
    }
    .btn-xl-secundary {
        visibility: visible;
        @media only screen and (max-width: $sm) {
            visibility: hidden;
        }
    }
    .btn-md-secundary {
        visibility: hidden;
        @media only screen and (max-width: $sm) {
            visibility: visible;
        }
    }
}

section.section-index-4 {
    background-color: white;
    .products {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $sm) {
            flex-direction: column;
        }
        .card {
            flex: 33%;
            .card-header {
                width: 100%;
                height: 70vh;
                margin: 0 auto;
                background-color: white;
                overflow: hidden;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                }
            }
            .card-main {
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $color-primary;
                .card-title {
                    p {
                        font-weight: 900;
                    }
                }
            }
            &:nth-child(2) {
                margin: 0 2em;
            }
        }
    }
}

section.section-index-5 {
    background-color: white;
    padding: 5em;
    @media only screen and (max-width: $sm) {
        padding: 0;
    }
    .container {
        display: flex;
        background-color: $color-blue;
        height: 70vh;
        @media only screen and (max-width: $sm) {
            flex-direction: column;
            margin: 0;
            padding: 0;
            padding-bottom: 2em;
            .image {
                overflow: auto;
            }
        }
        @media only screen and (min-width: $lg) {
            .btn-md-secundary {
                width: 20%;
            }
        }
        .image {
            overflow: hidden;
            flex: 50%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .main {
            color: white;
            padding: 1em 2em;
            flex: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
        }
    }
}

section.section-index-6 {
    background-color: $color-purple;
    height: 70vh;
    border-bottom: $color-blue solid 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        color: white;
    }
    .image {
        text-align: center;
        width: 30%;
        img {
            width: 60%;
        }
    }
    .main {
        width: 70%;
        @media only screen and (max-width: $sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .btn-xl-secundary-2 {
        visibility: visible;
        @media only screen and (max-width: $md) {
            visibility: hidden;
        }
    }
    .btn-sm-secundary-2 {
        visibility: hidden;
        @media only screen and (max-width: $md) {
            visibility: visible;
        }
    }
    h1 {
        @media only screen and (max-width: $md) {
            font-size: $text-lg;
        }
        @media only screen and (max-width: $sm) {
            text-align: center;
        }
    }
    @media only screen and (max-width: $sm) {
        flex-direction: column;
    }
}

.fit-content {
    width: fit-content;
}