body.registro {
    background-color: $color-secundary;
    text-align: center;
    .logo {
        display: flex;
        justify-content: center;
        padding: 0 40%;
        margin: 2em auto;
        a {
            img {
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: $md) {
        background-color: $color-primary;
        height: 100vh;
        .logo {
            background-color: $color-secundary;
            padding: 2em 20%;
            margin: 0 auto;
        }
    }
}

main.registro {
    width: 75%;
    margin: 0 auto;
    height: 130vh;
    p {
        font-size: 48px;
        font-weight: 700;
    }
    .registro-container {
        width: 100%;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
        margin-bottom: 5em;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    @media only screen and (max-width: $md) {
        width: 100%;
        margin: 0 auto;
        height: auto;
        p {
            font-size: 38px;
        }
        .registro-container {
            width: 100%;
            height: 90%;
            background-color: $color-primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em 0;
            margin-bottom: 5em;
            form {
                display: flex;
                flex-direction: column;
                width: 90%;
            }
        }
    }
}