.banner {
  background-color: $color-primary;
  height: 30vh;
  border-bottom: $color-secundary solid 0.5em;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: $sm) {
    padding: 1em;
    height: auto;
    flex-direction: column;
    padding: 10%;
  }
  .banner-left,
  .banner-right,
  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $md) {
      margin-right: 5%;
    }
  }
  .banner-left {
    flex-direction: column;
    margin-left: 5%;
    @media only screen and (max-width: $sm) {
      order: 1;
    }
    .media {
      display: inherit;
    }
  }
  .logo {
    @media only screen and (max-width: $sm) {
      order: 0;
    }
    img {
      width: 100%;
    }
  }
  .banner-right {
    @media only screen and (max-width: $sm) {
      order: 2;
    }
  }
}

.icon {
  position: relative;
  width: 35pt;
  margin: 0 1em;
  @media only screen and (max-width: $sm) {
    width: 22pt;
    margin: 0 0.5em;
  }
  span.cart-items {
    position: absolute;
    right: -0.5em;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 1.5em;
    background-color: $color-secundary;
    border-radius: 50%;
    @media only screen and (max-width: $sm) {
      left: -2em;
    }
    .counter {
      left: 48px;
      bottom: 48px;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
      transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
