.btn {
    color: white;
    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    transition: box-shadow .5s ease;
    display: block;
    &:hover {
        // animation: button-hover .5s ease;
        box-shadow: 1px 1px $color-secundary, 0.5em 0.5em $color-secundary, 3px 3px $color-secundary;
        transform: translateX(-3px);
        transform: translateX(10px);
    }
    &:focus {
        outline: none;
    }
}

@mixin btn-xl-theme($btn-color-primario, $btn-color-secundario) {
    @extend .btn;
    background-color: $btn-color-primario;
    box-shadow: 0.3em 0.3em $btn-color-secundario;
}

@mixin btn-background-theme($btn-color-primario) {
    box-shadow: 0.3em 0.3em $btn-color-primario;
}

@mixin btn-md-theme($btn-color-primario, $btn-color-secundario) {
    @extend .btn-md;
    background-color: $btn-color-primario;
    box-shadow: 0.3em 0.3em $btn-color-secundario;
}

@mixin btn-sm-theme($btn-color-primario, $btn-color-secundario) {
    @extend .btn-sm;
    background-color: $btn-color-primario;
    box-shadow: 0.3em 0.3em $btn-color-secundario;
}

.btn-xl-primary {
    @include btn-xl-theme($color-primary, $color-secundary);
    visibility: visible;
}

.btn-xl-secundary {
    @include btn-xl-theme($color-secundary, $color-primary);
}

.btn-xl-secundary-2 {
    @include btn-xl-theme($color-secundary, $color-blue);
}

.btn-xl-purple {
    @include btn-xl-theme($color-purple, $color-orange);
}

.btn-xl-blue {
    @include btn-xl-theme($color-blue, $color-primary);
}

.btn-xl-background-white {
    @include btn-background-theme(white);
}

.btn-md {
    @extend .btn;
    font-size: 15px;
}

.btn-md-primary {
    @include btn-md-theme($color-primary, $color-secundary);
}

.btn-md-secundary {
    @include btn-md-theme($color-secundary, $color-primary);
}

.btn-md-blue {
    @include btn-md-theme($color-blue, $color-primary);
}

.btn-md-purple {
    @include btn-md-theme($color-purple, $color-orange);
}

.btn-sm {
    @extend .btn;
    font-size: 12px;
    padding: 0.5em 1em;
}

.btn-sm-primary {
    @include btn-sm-theme($color-primary, $color-secundary);
}

.btn-sm-secundary {
    @include btn-sm-theme($color-secundary, $color-primary);
}

.btn-sm-secundary-2 {
    @include btn-sm-theme($color-secundary, $color-blue);
}

.btn-sm-blue {
    @include btn-sm-theme($color-blue, $color-primary);
}

.btn-sm-purple {
    @include btn-sm-theme($color-purple, $color-orange);
}

@keyframes button-hover {
    0% {
        box-shadow: 0.3em 0.3em $color-secundary;
    }
    50% {
        box-shadow: .2em .2em $color-secundary;
    }
    100% {
        box-shadow: 0.3em 0.3em $color-secundary;
    }
}


/********** TEXTBOX **********/

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
// input[type="number"],
textarea {
    border: 1px solid $color-blue;
    padding: 10px;
    margin: .5em 0;
    font-size: 18px;
    font-weight: 500;
    color: $color-primary;
    background-color: rgba(white, 0);
    transition: border .1s linear, box-shadow .1s linear;
    &::placeholder {
        color: $color-primary;
        opacity: 1;
        outline: 0;
    }
}

@mixin input-lenght($font-size, $padding) {
    @extend input[type="text"];
    font-size: $font-size;
    padding: $padding;
}

@mixin input-theme($btn-color-primario) {
    @extend input[type="text"];
    border: 1px solid $btn-color-primario;
    color: $btn-color-primario;
    &::placeholder {
        color: $btn-color-primario;
        opacity: 1;
    }
    &:focus {
        box-shadow: 0 0 5px $btn-color-primario;
        border: 2px solid $btn-color-primario;
        outline: 0;
    }
}

input[type="text"].primary,
input[type="email"].primary,
input[type="phone"].primary,
input[type="number"].primary,
input[type="password"].primary {
    @include input-theme($color-primary);
}

input[type="text"].secundary,
input[type="email"].secundary,
input[type="phone"].secundary,
input[type="number"].secundary,
input[type="password"].secundary {
    @include input-theme($color-secundary);
}

input[type="text"].input-sm,
input[type="email"].input-sm,
input[type="phone"].input-sm,
input[type="number"].input-sm,
input[type="password"].input-sm {
    @include input-lenght($text-sm, 10px);
}

textarea.white {
    outline: 0;
    border: 1px solid white;
}


/********** RADIOBUTTON **********/

.radio {
    font-weight: 600;
    font-size: 18px;
    color: white;
    display: block;
    position: relative;
    margin: 2em auto;
    padding-left: 3.5em;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        /* When the radio button is checked, add a blue background */
        &:checked~.checkmark {
            // background-color: white;
            &::after {
                /* Show the indicator (dot/circle) when checked */
                display: block;
            }
        }
        &:checked~.checkmark:after {
            display: block;
        }
    }
    &:hover {
        /* On mouse-over, add a grey background color */
        input~.checkmark {
            background-color: #ccc;
        }
    }
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 6px solid white;
    /* Create the indicator (the dot/circle - hidden when not checked) */
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}


/* Style the indicator (dot/circle) */

.radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #802e58;
}

@mixin radio-theme($radio-color-primario) {
    @extend .radio;
    color: $radio-color-primario;
}

.radio-secundary {
    @include radio-theme($color-primary);
}

@mixin checkmark-theme($radio-color-primario, $radio-color-secundario) {
    @extend .checkmark;
    border: 3px solid $radio-color-primario;
    &::after {
        background: $radio-color-secundario !important;
    }
}

.checkmark-secundary {
    @include checkmark-theme($color-primary, $color-secundary);
}


/********** CHECKBOX **********/

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 1em auto;
    padding-left: 3.5em;
    font-size: 18px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        //Hide the browser's default checkbox
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

//Create a custom checkbox
.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    // background-color: #eee;
    border: 3px solid white;
}

//On mouse-over, add a grey background color
.checkbox-container:hover input~.checkbox-checkmark {
    background-color: #ccc;
}

//When the checkbox is checked, add a blue background
.checkbox-container input:checked~.checkbox-checkmark {
    background-color: #2196F3;
}

//Create the checkmark/indicator (hidden when not checked)
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

//Show the checkmark when checked
.checkbox-container input:checked~.checkbox-checkmark:after {
    display: block;
}

//Style the checkmark/indicator
.checkbox-container .checkbox-checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@mixin checkbox-theme($checkbox-color-primario, $checkbox-color-secundario) {
    @extend .checkbox-container;
    color: $checkbox-color-primario;
    &::hover {
        background-color: 3px solid $checkbox-color-primario;
    }
    input {
        &:checked~.checkbox-checkmark {
            background-color: $checkbox-color-secundario;
        }
    }
}

.checkbox-container-primary {
    @include checkbox-theme($color-primary, $color-secundary);
}

@mixin checkbox-checkmark-theme($checkbox-color-primario) {
    @extend .checkbox-checkmark;
    border: 3px solid $checkbox-color-primario;
}

.checkbox-checkmark-primary {
    @include checkbox-checkmark-theme($color-primary);
}

// @mixin checkbox-checkmark-theme($checkbox-color-primario, $checkbox-color-secundario) {
//     @extend .checkmark;
//     border: 6px solid $checkbox-color-primario;
//     &::after {
//         background: $checkbox-color-secundario !important;
//     }
// }
// .checkmark-secundary {
//     @include checkbox-checkmark-theme($color-primary, $color-secundary);
// }

/********** FIELDSET **********/

fieldset {
    border-width: 0;
}


/********** NUMBER INPUT **************/

.quantity {
    display: flex;
    justify-content: center;
    border: 1px solid $color-secundary;
    background-color: white;
    width: 70px;
    input {
        font-size: 15px;
        padding: 8px;
        width: 20px;
        border: none;
        color: $color-primary;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
        &:focus {
            outline: none;
        }
    }
}

.quantity-signs {
    font-size: medium;
    height: 37px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/****************** RESPONSIVE ********************/

@media only screen and (min-width: 992px) {
    .btn {
        font-size: 38px;
        padding: 0.5em 1.5em;
    }
    .btn-md {
        font-size: 24px;
        padding: 0.5em 1.5em;
    }
    .btn-sm {
        font-size: 12px;
        padding: 0.5em 1.5em;
    }
    // input[type="text"],
    // input[type="email"],
    // input[type="phone"],
    // input[type="password"],
    // textarea {
    //     padding: 30px;
    //     font-size: 28px;
    // }
    .radio {
        font-size: 24px;
    }
    .checkmark {
        height: 30px;
        width: 30px;
    }
    .radio .checkmark:after {
        width: 20px;
        height: 20px;
    }
    .checkbox-container {
        font-size: 24px;
    }
    .checkbox-checkmark {
        height: 25px;
        width: 25px;
    }
    .checkbox-container .checkbox-checkmark:after {
        left: 9px;
        top: 5px;
    }
    .quantity {
        input {
            font-size: 20px;
            padding: 10px;
        }
    }
}