footer {
    background-image: url("../img/icon/moño.svg");
    background-repeat: round;
    background-color: $color-secundary;
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    padding-top: 4em;
    @media only screen and (max-width: $sm) {
        padding: 2em;
        text-align: center;
    }
    .left {
        flex: auto;
        .join {
            display: inline-flex;
            .icon {
                width: 25pt;
                margin: auto 1em;
                @media only screen and (max-width: $sm) {
                    margin: auto 0.3em;
                }
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: $sm) {
                flex-direction: column;
            }
            a {
                color: $color-primary;
                text-decoration: none;
                margin: 0.5em 0;
                font-size: 24px;
                font-weight: 700;
                @media only screen and (max-width: $sm) {
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0.25em;
                }
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        .logo {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

// footer {
//     background-color: $color-secundary;
//     color: $color-primary;
//     height: 40vh;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .left {
//         ul {
//             li {
//                 margin: .5em 0;
//                 font-size: 28px;
//                 font-weight: 700;
//                 &:before {
//                     content: "";
//                 }
//             }
//         }
//     }
// }