.topnav {
    overflow: hidden;
    background-color: white;
    margin: 2em auto;
    display: flex;
    justify-content: space-evenly;
    a {
        float: left;
        display: block;
        color: $color-primary;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
    }
    .icon {
        display: none;
        font-size: 15px;
    }
    .dropdown {
        float: left;
        overflow: hidden;
        .dropbtn {
            font-size: 20px;
            font-weight: 700;
            border: none;
            outline: none;
            color: $color-primary;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            &:after {
                content: ' \25bc';
                font-size: small;
            }
        }
        .dropdown-content {
            transition: display .5s linear;
            display: none;
            position: initial;
            background-color: rgba(white, 0);
            min-width: 160px;
            z-index: 1;
            a {
                float: none;
                padding: 12px 16px;
                background-color: rgba(white, 0);
                text-decoration: none;
                display: block;
                transform: translateX(-10pt);
            }
        }
    }
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: white !important;
    color: $color-blue !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        justify-content: space-between;
    }
    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
        margin-left: 3em;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

// .navbar {
//     nav {
//         ul {
//             list-style-type: none;
//             margin: 0;
//             padding: 0;
//             background-color: rgba(white, .75);
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             li {
//                 padding: 2em;
//                 font-weight: bolder;
//                 list-style-type: none;
//                 transition: background-color .25s ease-out, color .25s ease-out;
//                 a {
//                     color: $color-primary;
//                     text-decoration: none;
//                 }
//                 &:before {
//                     content: "";
//                 }
//                 &:hover {
//                     color: $color-blue;
//                     cursor: pointer;
//                 }
//             }
//             li.submenu {
//                 ul {
//                     display: none;
//                 }
//                 &:hover {
//                     ul {
//                         display: block;
//                     }
//                 }
//             }
//         }
//     }
// }
li.active {
    background-color: white !important;
    color: $color-blue !important;
}