.container-table {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: auto;
    table {
        width: 100%;
        border-collapse: collapse;
        color: $color-primary;
        font-size: $text-sm;
        border-spacing: 0;
        @media only screen and (max-width: $sm) {
            font-size: 11px;
        }
    }
}

th {
    border-top: 5px solid $color-primary;
    border-bottom: 5px solid $color-primary;
}

tr {
    &:last-child {
        border-top: 5px solid $color-primary;
    }
}

td,
th {
    text-align: center;
    padding: 1em 0;
}

.table-product-description {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .product-title {
        font-weight: 800;
    }
    .product-description {
        color: $color-secundary;
    }
}

.cart-product-img {
    text-align: start;
    position: relative;
    display: inline-block;
    width: 100%;
    transition: transform 0.25s ease;
    &:before {
        content: "\2716";
        text-align: center;
        color: $color-secundary;
        font-size: 12px;
        font-weight: 900;
        top: 0;
        left: 0;
        position: absolute;
        width: 2em;
        height: 2em;
        background-color: $color-primary;
        border-radius: 50%;
        line-height: 2em;
        transition: all 0.25s ease;
    }
    &:hover {
        transform: scale(1.05);
        &:before {
            transform: rotate(180deg) scale(1.25);
            font-weight: 900;
            color: $color-primary;
            background-color: $color-secundary;
            cursor: pointer;
        }
    }
}

.table-row-bold {
    font-weight: 800;
}

table.resume {
    tbody {
        border-top: 5px solid $color-primary;
    }
    tr.subtotal {
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        font-weight: 800;
        td {
            padding: 2em 0;
        }
    }
    tr:last-child {
        border: none;
        color: $color-secundary;
        font-weight: 800;
    }
    tr {
        td {
            text-align: start;
        }
    }
}