.title {
    height: 25vh;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 3px;
    padding-left: 1em;
    img {
        margin: auto .75em;
    }
    @media only screen and (max-width: $md) {
        height: auto;
        text-align: center;
        padding: 1em 0;
        flex-direction: column;
        font-size: $text-sm;
        height: auto;
        img {
            margin: .75em 0;
            width: 30%;
        }
    }
}

@mixin title-theme($background-color) {
    @extend .title;
    background-color: $background-color;
}

.title-white {
    @include title-theme(white);
    color: $color-primary;
}

.title-secundary {
    @include title-theme($color-secundary);
    color: white;
}

.title-blue {
    @include title-theme($color-blue);
    color: white;
}