/******** Colors ********/

$color-primary: #802e58;
$color-secundary: #f1b144;
$color-red: #d62c33;
$color-violet: #c9195c;
$color-orange: #dd6934;
$color-blue: #80ced7;
$color-purple: #ca195c;

/******** Breakpoints ********/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
//text
$text-xs: 14px;
$text-sm: 18px;
$text-lg: 28px;
$text-xl: 60px;
